{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Shop
</h1>
<h2 class="subtitle">
  List of products 
</h2>

<style>
  ul { display: grid; grid-template-columns: 1fr 1fr; gap: 16px;}
  .item {border: 1px solid #eee; }
  .item-title { font-weight: bold; font-size: 2rem;}
  .link {}
  .item-image-holder {}
  .image {max-height: 160px;margin: 8px auto;}
</style>

<ul class="products">

  {% for product in products %} 
    <li class="item">
      <a class="link" href="{{ url_for('shop.product',product_id = product.id) }}">
        <b class="item-title">{{ product.title }}</b>
        <b>{{ product.price }}</b>
        <div class="item-image-holder">
          <img src="{{ product.image }}" alt="" class="image">
        </div>
        <div class="description">
          {{ product.description}}
        </div>
      </a>
    </li>
  {% endfor %}
</ul>
{% endblock %}
